<div class="background">
  <app-subheader />
  <div class="container" *ngIf="modulo$ | async as modulo">
    <h1>{{modulo.nome}}</h1>
    <div class="content" *ngIf="!inGame">

      <div class="content-text">
        <p>Caso acerte 7 questões, você receberá <strong>{{1000/getDificuldade()}} Navecoins</strong></p>
        <p>Caso acerte 9 questões, você receberá <strong>{{1500/getDificuldade()}} Navecoins</strong></p>
        <p>Caso acerte 10 questões, você receberá <strong>{{2000/getDificuldade()}} Navecoins</strong></p>
        <p>Caso acerte menos que 7 questões, você <strong>não receberá Navecoins</strong>, e poderá repetir o teste</p>
        <hr>
        <div class="dificuldades">
          <button (click)="setDificuldade('facil')" [class.active]="dificuldade === 'facil'">Fácil</button>
          <button (click)="setDificuldade('medio')" [class.active]="dificuldade === 'medio'">Médio</button>
          <button (click)="setDificuldade('dificil')" [class.active]="dificuldade === 'dificil'">Difícil</button>
        </div>
        <p>Você terá até <strong>{{getDificuldade()}} segundos</strong> para responder cada questão.</p>
        <hr>
        <p style="margin: 0 auto"><strong>Boa sorte!</strong></p>
      </div>
      <app-button buttonText="iniciar" buttonLevel="primary" buttonTheme="dark" buttonSize="large" (click)="handlerInitializingGame()" />
      <app-button buttonText="Voltar" buttonLevel="secondary" buttonTheme="dark" buttonSize="large" (click)="voltarParaTrilha()" />
    </div>
    <div class="game" *ngIf="inGame">
      <div class="info">
        <p class="pontos"><strong>{{questionIndex}}/10</strong></p>
        <p class="tempo-restante"><strong>{{tempoRestante}}</strong></p>
      </div>
      <div class="content-game">
        <h1>{{number1}} {{this.resultOp()}} {{number2}} = ?</h1>
        <div class="options">
          <app-button *ngFor="let q of questions" buttonText="{{q}}" buttonLevel="primary" buttonTheme="dark" buttonSize="large" (click)="checkAnswer(q)" />
        </div>
      </div>
    </div>

    <div class="modal-init-game-background" *ngIf="initializingGame">
      <div class="modal-init-game-content">
        <h2>Prepare-se!</h2>
        <p>O quiz começará em:</p>
        <p class="contagem-regressiva">{{contagemRegressiva}}</p>
      </div>
    </div>
    <div class="modal-init-game-background" *ngIf="resetingGame">
      <div *ngIf="ganhou && !inGame" class="modal-init-game-content">
        <h2>Parabéns!</h2>
        <p>Você completou o quiz com sucesso!</p>
        <p class="contagem-regressiva">😃</p>
        <app-button buttonText="Concluir" buttonLevel="primary" buttonBackgroundColor="#06923E" buttonTextColor="white" (click)="moduloConcluido()"></app-button>

      </div>

      <div *ngIf="!ganhou && !inGame" class="modal-init-game-content">
        <h2>Que pena!</h2>
        <p>Você não completou o quiz com sucesso, tente novamente!</p>
        <p class="contagem-regressiva">😞</p>
        <app-button buttonText="tente novamente" buttonLevel="primary" buttonBackgroundColor="#BF092F" buttonTextColor="white" (click)="refazerQuiz()"></app-button>

      </div>

    </div>
  </div>