<div class="background">
  <app-subheader />
  <div class="container" *ngIf="modulo$ | async as modulo">
    <h1>{{modulo.nome}}</h1>
    <div class="content" *ngIf="!inGame">

      <div class="content-text">
        <!-- <p>Você está prestes a iniciar o quiz para o módulo "{{modulo.nome}}". Certifique-se de estar preparado antes de começar.</p> -->
        <p>Caso acerte 75% das questões, você receberá <strong>100 pontos</strong></p>
        <p>Caso acerte 90% das questões, você receberá <strong>150 pontos</strong></p>
        <p>Caso acerte 100% das questões, você receberá <strong>200 pontos</strong></p>
        <p>Caso acerte menos que 75% das questões, você <strong>não receberá pontos</strong>, e poderá repetir o teste</p>
        <hr>
        <p style="margin: 0 auto"><strong>Boa sorte!</strong></p>
      </div>
      <app-button buttonText="iniciar" buttonLevel="primary" buttonTheme="dark" buttonSize="large" (click)="handlerInitializingGame()" />
      <app-button buttonText="Voltar" buttonLevel="secondary" buttonTheme="dark" buttonSize="large" (click)="voltarParaTrilha()" />
    </div>
    <div class="game" *ngIf="inGame">
      <p class="pontos"><strong>{{points}}/10</strong></p>
      <div class="content-game">
        <h1>{{number1}} {{this.resultOp()}} {{number2}} = ?</h1>
        <div class="options">
          <app-button *ngFor="let q of questions" buttonText="{{q}}" buttonLevel="primary" buttonTheme="dark" buttonSize="large" (click)="checkAnswer(q)" />
        </div>
      </div>
    </div>

    <div class="modal-init-game-background" *ngIf="initializingGame">
      <div class="modal-init-game-content">
        <h2>Prepare-se!</h2>
        <p>O quiz começará em:</p>
        <p class="contagem-regressiva">{{contagemRegressiva}}</p>
      </div>
    </div>
    <div class="modal-init-game-background" *ngIf="resetingGame">
      <div *ngIf="ganhou && !inGame" class="modal-init-game-content">
        <h2>Parabéns!</h2>
        <p>Você completou o quiz com sucesso!</p>
        <p class="contagem-regressiva">😃</p>

      </div>

      <div *ngIf="!ganhou && !inGame" class="modal-init-game-content">
        <h2>Que pena!</h2>
        <p>Você não completou o quiz com sucesso, tente novamente!</p>
        <p class="contagem-regressiva">😞</p>
      </div>

    </div>
  </div>