@use "app/scss/variables";

html,
body {
  font-size: 62.5%;
  background-color: variables.$cor-header-dark;
  height: 100%;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

* {
  // font-family: "Poppins", sans-serif;
  font-family: "Nunito", sans-serif;
  // font-family: variables.$fonte-principal, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

p {
  font-size: variables.$fonte-tamanho-p;
}
h1 {
  font-size: variables.$fonte-tamanho-h1;
}
h2 {
  font-size: variables.$fonte-tamanho-h2;
}
h3 {
  font-size: variables.$fonte-tamanho-h3;
}
h4 {
  font-size: variables.$fonte-tamanho-h4;
}
