<div class="container">

  <header>
    <span (click)="handleBackToMenu()">x</span>
    <app-button *ngIf="!signInFormIsActive; else elseBlockHeader" buttonText="CADASTRAR" buttonSize="small" buttonTheme="dark" buttonLevel="secondary" buttonType="button" (click)="handleChangeForm()" />

    <ng-template #elseBlockHeader>
      <app-button buttonText="ENTRAR" buttonSize="small" buttonTheme="dark" buttonLevel="secondary" buttonType="button" (click)="handleChangeForm()" />
    </ng-template>
  </header>
  <div class="content">
    <section class="login" *ngIf="!signInFormIsActive; else elseBlock">
      <h1>Entrar</h1>
      <form (ngSubmit)="handleLoginFormSubmit()" [formGroup]="formLogin">
        <div class="inputs">
          <app-input placeholder="Email" inputName="email" inputSize="large" inputType="text" formControlName="email" />
          <p *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched" [ngStyle]="{'color': 'red'}">
            Email é obrigatório
          </p>
          <app-input placeholder="Senha" inputName="senha" inputSize="large" inputType="password" formControlName="senha" />
          <p *ngIf="formLogin.get('senha')?.invalid && formLogin.get('senha')?.touched" [ngStyle]="{'color': 'red'}">
            Senha é obrigatória
          </p>
        </div>
        <app-button [buttonText]="isLoading ? 'Entrando...' : 'Entrar'" buttonSize="large" buttonTheme="dark" buttonType="submit" buttonLevel="primary" [buttonDisabled]="formLogin.invalid || isLoading" />
      </form>
      <p class="texto-cadastro">Não tem uma conta? <span (click)="handleChangeForm()">CRIAR CONTA</span></p>
      <div class="outras-opcoes">
        <span>
          <hr>
          <p>OU</p>
          <hr>
        </span>
        <div class="outros-meios-login">
          <app-button buttonText="Entrar com Facebook" buttonSize="large" buttonType="submit" buttonBackgroundColor="blue" button />
          <app-button buttonText="Entrar com google " buttonSize="large" buttonType="submit" buttonBackgroundColor="white" buttonTextColor="black" button />
        </div>
      </div>

    </section>

    <!-- cadastro -->
    <ng-template #elseBlock>
      <section class="login">
        <h1>Cadastrar</h1>
        <form (ngSubmit)="handleSignInFormSubmit()" [formGroup]="formSignIn">
          <div class="inputs">
            <app-input placeholder="Nome de usuário" inputName="email" inputSize="large" inputType="text" formControlName="nomeDeUsuario" />

            <app-input placeholder="Email" inputName="email" inputSize="large" inputType="email" formControlName="email" />
            <p *ngIf="formSignIn.controls.email.invalid && formSignIn.controls.email.touched" [ngStyle]="{'color': 'red'}">
              <ng-container *ngIf="formSignIn.controls.email.errors?.['email']">Insira um email válido</ng-container>
              <ng-container *ngIf="formSignIn.controls.email.errors?.['emailTaken']">Este email já está cadastrado</ng-container>
            </p>
            <app-input placeholder="Senha" inputName="password" inputSize="large" inputType="password" formControlName="senha" />
            <app-input placeholder="Confirmar senha" inputName="passwordConfirm" inputSize="large" inputType="password" formControlName="confirmarSenha" />
            <p *ngIf="formSignIn.hasError('passwordNotMatch') && formSignIn.touched" [ngStyle]="{'color': 'red'}">As senhas não coincidem</p>
          </div>
          <app-button [buttonText]="isLoading ? 'Cadastrando...' : 'Cadastrar'" buttonSize="large" buttonTheme="dark" buttonType="submit" buttonLevel="primary" [buttonDisabled]="formSignIn.invalid || isLoading" />
        </form>
        <p class="texto-cadastro">Já tem uma conta? <span (click)="handleChangeForm()">ENTRAR</span></p>
        <div class="outras-opcoes">
          <span>
            <hr>
            <p>OU</p>
            <hr>
          </span>
          <div class="outros-meios-login">
            <app-button buttonText="Entrar com Facebook" buttonSize="large" buttonType="submit" buttonBackgroundColor="blue" />
            <app-button buttonText="Entrar com google " buttonSize="large" buttonType="submit" buttonBackgroundColor="white" buttonTextColor="black" />
          </div>
        </div>
      </section>
    </ng-template>
    <p class="termos">Ao se cadastrar, você concorda com nossos <u>Termos de Serviço</u> e <u>Política de Privacidade</u>.</p>
  </div>

</div>

<div class="loading" *ngIf="isLoading">
  <app-loader></app-loader>
  <p>Carregando...</p>
</div>