<header>
  <app-header />
</header>


<div class="container color-change-2x">

  <img class="slide-in-elliptic-left-bck shake-br" src="assets/logo-sem-fundo.png" alt="">

  <h2>Divirta-se estudando em nossa plataforma gratuitamente</h2>

  <div class="buttons">
    <app-button buttonText='Entrar na Sua Conta' buttonSize="large" buttonLevel="primary" buttonTheme="dark" buttonType="button" [buttonDisabled]=false (click)="entrarComoUsuario()" />
    <app-button buttonText='Desafio JCC + AFS' buttonSize="large" buttonLevel="secondary" buttonTheme="dark" buttonType="button" [buttonDisabled]=false (click)="irParaDesafioJccAfs()" />
    <app-button buttonText='Ranking Desafio 2025' buttonSize="large" buttonLevel="secondary" buttonTheme="dark" buttonType="button" [buttonDisabled]=false (click)="verRankingJcc()" />

  </div>
</div>