<header>
  <app-header />
</header>


<div class="container color-change-2x">
  <!--
  <img class="icon lua" src="assets/moon-svgrepo-com.svg" alt="">
  <img class="icon nave" src="assets/space-ship-svgrepo-com (2).svg" alt="">
  <img class="icon nave2" src="assets/space-ship-svgrepo-com (3).svg" alt="">
  <img class="icon cometa" src="assets/comet-svgrepo-com.svg" alt=""> -->

  <img class="slide-in-elliptic-left-bck shake-br" src="assets/logo-sem-fundo.png" alt="">

  <h2>Divirta-se estudando em nossa plataforma gratuitamente</h2>

  <div class="buttons">
    <app-button buttonText='Entrar na Sua Conta' buttonSize="large" buttonLevel="primary" buttonTheme="dark" buttonType="button" [buttonDisabled]=false (click)="entrarComoUsuario()" />
    <app-button buttonText='Entrar Como Visitante' buttonSize="large" buttonLevel="secondary" buttonTheme="dark" buttonType="button" [buttonDisabled]=false (click)="entrarComoVisitante()" />
  </div>
</div>