@use "./../../../scss/variables";

.dark {
  &.primary {
    background-color: var(--accent-primary);
    color: var(--text-on-accent);
    box-shadow: 1px 4px 0px 1px var(--accent-primary-shadow);

    &:disabled {
      background-color: var(--text-muted);
      opacity: 0.6;
    }
  }
  &.secondary {
    background-color: transparent;
    color: var(--accent-secondary);
    border: 0.3rem solid var(--accent-secondary);
    padding: 0.8rem 0;
    &:hover {
      background-color: var(--accent-secondary);
      color: var(--background-primary);
    }
  }
}
// .light {
//   &.primary {
//     color: var(--text-primary);
//     &:disabled {
//       background-color: var(--text-muted);
//       opacity: 0.6;
//     }
//   }
//   &.secondary {
//     background-color: transparent;
//     color: var(--accent-secondary);
//     border: 0.3rem solid var(--accent-secondary);

//     &:hover {
//       background-color: var(--accent-secondary);
//       color: var(--background-primary);
//       border: none;
//     }
//   }
// }
.small {
  width: 14rem;
  min-height: 3.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  border-radius: 6px;
  border: none;
}
.medium {
  width: 20rem;
  min-height: 3.8rem;
  font-size: variables.$fonte-tamanho-p;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
}
.large {
  width: 100%;
  min-width: 26rem;
  // max-width: 40rem;
  min-height: 4.4rem;
  font-size: variables.$fonte-tamanho-p;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
}

button {
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 800;

  &:hover {
    transform: translateY(-1px);
    opacity: 0.92;
  }
  &:disabled {
    cursor: not-allowed;
    transform: none;
  }
}

.play {
  width: 1.6rem;
}
