<div class="container">
  <h1>Você pode aprender:</h1>

  <ul>
    <li *ngFor="let curso of cursos">
      <img src={{curso.imagem}} alt="imagem da trilha {{curso.nome}}">
      <div class="info-text">
        <h3>{{curso.nome}}</h3>
        <!-- <p>{{curso.matriculas}} alunos</p> -->
      </div>
    </li>
  </ul>

  <p>Aproveite 100% de nossa plataforma entrando em sua conta</p>

  <app-button buttonText='Comece agora!' buttonSize="large" buttonLevel="primary" buttonTheme="dark" buttonType="button" [buttonDisabled]=false (click)="entrarComoUsuario()" />

</div>