<header>
  <app-subheader />
</header>
<div class="home-container">


  <main class="home-content">
    <h1>Conheça nossos cursos</h1>

    <div class="courses-grid">
      <div class="course-card" *ngFor="let trilha of trilhas" (click)="goToTrilha(trilha.id)">
        <span class="tag" *ngIf="trilha.tag">{{ trilha.tag }}</span>

        <div class="course-icon">
          <img [src]="trilha.imagem" [alt]="trilha.nome">
        </div>

        <div class="card-content">
          <span class="title-section">
            <h3>{{ trilha.nome }}</h3>
            <div class="modules">{{ trilha.modulos }} módulos</div>
          </span>
          <div class="info-row">
            <div class="instructor">
              <img src="assets/logo.svg" alt="Instrutor" class="instructor-avatar">
              <span>{{ trilha.professor }}</span>
            </div>
            <div class="enrollments">
              {{ trilha.matriculas }} alunos
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="loading" *ngIf="isLoading">
  <app-loader></app-loader>
</div>