<header>
  <app-subheader />
</header>
<div class="home-container">


  <main class="home-content">
    <h1>Conheça nossos cursos</h1>

    <div class="courses-grid">
      <div class="course-card" *ngFor="let curso of cursos" (click)="goToTrilha(curso.id, curso.nome)">
        <span class="tag" *ngIf="curso.tag">{{ curso.tag }}</span>

        <div class="course-icon">
          <img [src]="curso.logo" [alt]="curso.nome">
        </div>

        <div class="card-content">
          <span class="title-section">
            <h3>{{ curso.nome }}</h3>
            <div class="modules">4 módulos</div>
          </span>
          <div class="info-row">
            <div class="instructor">
              <img src="assets/logo.svg" alt="Instrutor" class="instructor-avatar">
              <span>{{ curso.professor }}</span>
            </div>
            <div class="enrollments">
              {{ curso.id }} alunos
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="loading" *ngIf="isLoading">
  <app-loader></app-loader>
</div>