.home-container {
  max-width: 1200px;
  margin: 0 auto;
}

.home-content {
  h1 {
    font-size: 2.5rem;
    margin: 2rem auto;
    text-align: center;
    color: var(--text-primary);
  }
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2rem;
  padding: 1rem 1.6rem;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 44rem;
  box-shadow: 1px 1px 2px var(--accent-primary-shadow);

  border-radius: 6px;
  background: var(--background-secondary);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 2px 4px var(--accent-primary);
  }

  .tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--accent-secondary);
    color: rgb(20, 12, 44);
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;
    z-index: 1;
  }

  .course-icon {
    background: var(--background-octonary);

    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  .card-content {
    background: var(--background-secondary);
    background-color: var(--background-senary);

    padding: 1.5rem;
    flex: 1;
  }

  .title-section {
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .modules {
    font-size: 1rem;
    color: var(--accent-primary);
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  h3 {
    color: var(--text-primary);
    margin-bottom: 0.75rem;
    font-weight: 600;
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid var(--border-color);
  }

  .instructor {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .instructor-avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    span {
      font-size: 1.075rem;
      color: var(--text-secondary);
    }
  }

  .enrollments {
    font-size: 1.075rem;
    color: var(--text-secondary);
  }
}
