$cor-background-light: #f0f8ff;
$cor-background-dark: #161b50;
$cor-header-dark: #0c1032;
$cor-header-light: #ac87c5;
$cor-text-light: #ffffff;
$cor-text-dark: #d791f8;

//fontes
$fonte-principal: "Montserrat", sans-serif;

//tamanhos de fonte
$fonte-tamanho-p: 1.6rem;
$fonte-tamanho-h1: 2.4rem;
$fonte-tamanho-h2: 2rem;
$fonte-tamanho-h3: 1.8rem;
$fonte-tamanho-h4: 1.6rem;
$fonte-tamanho-h5: 1.4rem;

//borda
$borda-radius: 1.6rem;
$borda-radius-card: 0.8rem;
$borda-radius-input: 0.4rem;

//sombra
$sombra-card: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
$sombra-card-hover: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.2);
$sombra-input: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
$sombra-input-focus: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
