.modulo-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  width: 100%;

  .modulo-title {
    flex-grow: 1;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-primary);
  }
}

.nivel-badge {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  text-transform: lowercase;
  white-space: nowrap;
  align-self: self-end;
  &::first-letter {
    text-transform: uppercase;
  }

  &.nivel-iniciante {
    background-color: #4c944d;
    color: white;
  }

  &.nivel-intermediario {
    background-color: #e49827;
    color: white;
  }

  &.nivel-avancado {
    background-color: #d33f35;
    color: white;
  }
}
