@use "./../../scss/variables";


.modulo-status {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background: var(--background-tertiary);
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
  display: inline-block;



  &.concluido {
    background: var(--success-color);
    color: white;
  }

}

.em-andamento {
    background: #006787;
    color: rgb(218, 0, 0);
  }

.action-button.concluir{
  background-color: aqua;
   &:hover {
    color: variables.$cor-text-hover-light;
  }
}
