.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 3;
}
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.6rem;
  background: var(--background-secondary);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  gap: 0.6rem;
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .info-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: aqua;
    img {
      width: 3rem;
      height: 3rem;
      &:hover {
        filter: brightness(0.9);
        cursor: pointer;
      }
    }
  }
  .hamburger-btn {
    &.hidden {
      display: none;
    }
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42px;
    height: 28px;
    background: transparent;
    border: none;
    padding: 4px;
    gap: 4px;
    cursor: pointer;
    .burger-line {
      display: block;
      height: 3px;
      background: var(--text-primary);
      border-radius: 3px;
      transition: transform 0.2s ease, opacity 0.2s ease;
    }
  }
  .logo-section {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    &:hover {
      cursor: pointer;
      transition: 0.2s;
      transform: scale(1.02);
    }
    .logo {
      width: 40px;
      height: 40px;
    }

    h2 {
      font-size: 2rem;
      color: var(--text-primary);
      margin: 0;
      font-weight: 600;
    }
  }

  .user-actions {
    display: none;
    .action-btn {
      &.back-btn:hover {
        color: var(--accent-secondary);
        border-color: var(--accent-secondary);
      }
      &.theme-btn:hover {
        color: var(--warning-color);
        border-color: var(--warning-color);
      }

      &.profile-btn:hover {
        color: var(--accent-primary);
        border-color: var(--accent-primary);
      }

      &.logout-btn:hover {
        color: var(--error-color);
        border-color: var(--error-color);
      }
    }
    &.open-menu {
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: self-end;
      position: absolute;
      top: 0;
      right: 0;
      gap: 0.4rem;
      width: 75%;
      padding: 2rem 1rem 6rem;
      background-color: var(--background-quaternary);
      border-radius: 0 0 0 1.6rem;
      border: 1px solid var(--border-color);

      z-index: 6;
      .option {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 95%;
        gap: 1rem;
        padding-bottom: 0.6rem;
        margin-bottom: 0.6rem;
        border-bottom: 3px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        border-radius: 8px;
        p {
          color: var(--text-primary);
          font-size: 1.6rem;
          margin: 0;
          padding: 0 0.4rem;
        }
      }

      .action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        width: 100%;
        height: auto;
        max-width: 4.2rem;
        max-height: 4rem;
        border: 1px solid var(--border-color);
        color: var(--text-primary);
        padding: 0.6rem;
        border-radius: 8px;

        transition: all 0.2s ease;

        &:hover {
          cursor: pointer;
          background: var(--background-tertiary);
          border-color: var(--border-color);
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.overlay-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 2.4rem;
  width: 90%;
  max-width: 40rem;
  background-color: var(--background-secondary);
  border-radius: 1.6rem;
  border: 1px solid var(--border-color);
  position: absolute;

  z-index: 6;

  .info-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--accent-primary);
    margin: 0;
    text-align: center;
  }

  .info-text {
    font-size: 1.6rem;
    color: var(--text-primary);
    margin: 0;
  }
}

//terlas grandes
@media (min-width: 768px) {
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    gap: 1.6rem;
    margin: 0 auto;
    .logo-section {
      .logo {
        width: 8rem;
        height: 8rem;
      }

      h2 {
        font-size: 3rem;

        font-weight: 600;
      }
    }
    .user-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 5rem;

      .option {
        p {
          display: none;
        }
        width: 100%;
        height: 100%;
        max-width: 4.8rem;
        max-height: 4.8rem;
      }
      .action-btn {
        background: transparent;
        width: 100%;
        height: auto;

        border: 1px solid var(--border-color);
        color: var(--text-primary);
        padding: 0.6rem;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;

        &:hover {
          background: var(--background-tertiary);
          border-color: var(--border-color);
        }

        svg {
          width: 90%;
          height: 90%;
        }
      }
    }
    .hamburger-btn {
      display: none;
    }
  }
}
