<div class="overlay" *ngIf="isOpen" (click)="closeHamburguerMenu()"></div>
<header class="home-header">
  <div class="logo-section" (click)="goToHome()">
    <img src="assets/logo-sem-fundo.svg" alt="AprendaNave" class="logo">
    <h2>AprendaNave</h2>
  </div>
  <!-- Hamburger for small screens -->
  <div class="actions">
    <button class="action-btn info-btn" (click)="showInfoModal = true" title="Info">
      <img src="assets/info.svg" alt="">
    </button>
    <button class="hamburger-btn" [class.hidden]="isOpen" (click)="toggleHamburguerMenu()" aria-label="Abrir menu" [attr.aria-expanded]="isOpen">
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </button>
  </div>


  <div class="user-actions" [class.open-menu]="isOpen">
    <div class="option">
      <p>Voltar</p>
      <button class="action-btn back-btn" (click)="loadPreviousURL()" title="Voltar">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>

    <div class="option">
      <p>Alterar Tema</p>
      <button class="action-btn theme-btn" (click)="toggleTheme()" [title]="isDarkMode ? 'Modo Claro' : 'Modo Escuro'">
        <svg *ngIf="isDarkMode" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="12" cy="12" r="5" stroke="currentColor" stroke-width="2" />
          <line x1="12" y1="1" x2="12" y2="3" stroke="currentColor" stroke-width="2" />
          <line x1="12" y1="21" x2="12" y2="23" stroke="currentColor" stroke-width="2" />
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" stroke="currentColor" stroke-width="2" />
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" stroke="currentColor" stroke-width="2" />
          <line x1="1" y1="12" x2="3" y2="12" stroke="currentColor" stroke-width="2" />
          <line x1="21" y1="12" x2="23" y2="12" stroke="currentColor" stroke-width="2" />
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" stroke="currentColor" stroke-width="2" />
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" stroke="currentColor" stroke-width="2" />
        </svg>
        <!-- Lua (modo escuro) -->
        <svg *ngIf="!isDarkMode" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79Z" stroke="currentColor" stroke-width="2" />
        </svg>
      </button>
    </div>
    <div class="option">
      <p>Visitar meu Perfil</p>
      <button class="action-btn profile-btn" (click)="goToProfile()" title="Perfil">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="option">
      <p>Desconectar</p>
      <button class="action-btn logout-btn" (click)="logout()" title="Sair">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M16 17L21 12L16 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M21 12H9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
</header>

<div class="overlay overlay-info" *ngIf="showInfoModal === true" (click)="showInfoModal = false">

  <div class="info-container">

    <h2 class="info-title">Bem-vindo ao AprendaNave!</h2>
    <ul>
      <li>
        <p class="info-text">Clique no icone ☰ para exibir informações como Perfil, Tema, etc.</p>
      </li>
      <li>
        <p class="info-text">Clique em uma das trilhas para explorar seus conteúdos.</p>
      </li>
      <li>
        <p class="info-text">Dentro de cada módulo, você encontrará aulas e quizzes para testar seus conhecimentos.</p>
      </li>
      <li>
        <p class="info-text">Ao final de cada quiz, você receberá Navecoins (pontos) de acordo com seu desempenho.</p>
      </li>
    </ul>
    <h2 class="info-text">Divirta-se aprendendo e navegando pelo AprendaNave!</h2>

    <app-button buttonText="Fechar" buttonTheme="dark" (click)="showInfoModal = false" aria-label="Fechar informação"></app-button>
  </div>
</div>